/*-------------------------------------------------------*/
	/* Media Queries */
/*-------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#container {
		width:750px;
	}

	/*-------------------------------------------------------*/
		/* Menu */
	/*-------------------------------------------------------*/
	.menu {
		height:100px;
		background-color:#ededed;
		position:relative;
		width: 590px;
		padding-left: 80px;
		padding-right: 80px;
	}
	/*-------------------------------------------------------*/
		/* Profile Section */
	/*-------------------------------------------------------*/
	/* About */
	.about {
		width:410px;
	}
	.about h1 {
		line-height:38px;
		font-size:30px
	}
	.about h3 {
		font-size:14px;
		line-height:14px;
	}
	/* Personal info */
	.personal-info {
		width:280px;
		margin-right:10px;
	}
	.personal-info li span {
		width:190px;
	}
	/*-------------------------------------------------------*/
		/* Resume */
	/*-------------------------------------------------------*/
	.timeline-section {
		width:380px;
		padding-right:30px;
	}
	.skills-section {
		width:300px;
	}
	/*-------------------------------------------------------*/
		/* Portfolio */
	/*-------------------------------------------------------*/
	#portfolio-list {
		width:750px;
	}
	#portfolio-list li {
		margin-right:60px;
	}
	/*-------------------------------------------------------*/
		/* Blog */
	/*-------------------------------------------------------*/
	.blog-content-wrapper {
		width: 420px;
	}
	.blog-entry img {
		width: 420px;
	}
    .comment .comment-meta,.comment .comment-body {
    	float: left;
    	width: 330px;
    	margin-left: 10px;
	}
    .comment-child .comment-meta,.comment-child .comment-body {
    	width: 310px !important;
	}
	/*-------------------------------------------------------*/
		/* Contact */
	/*-------------------------------------------------------*/
	.contact-info {
		width:250px;
	}
	.contact-form {
		width:420px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#container {
		width:470px;
	}
	/*-------------------------------------------------------*/
		/* Top Section */
	/*-------------------------------------------------------*/	
	/* Logo */
	#logo h2 {
		font-size:25px;
		font-weight:900;
		color: #444;
		line-height:30px;
	}
	#logo h4 {
		color:#666;
		line-height:15px;
	}
	/* Social icons */
	.socialicons {
		margin-top:9px;
	}
	.socials-text {
		display:none !important;
	}
	/*-------------------------------------------------------*/
		/* Profile Section */
	/*-------------------------------------------------------*/
	/* About */
	.about {
		width:420px;
		display:block;
	}
	.about h1 {
		line-height:38px;
		font-size:30px
	}
	.about h3 {
		font-size:14px;
		line-height:14px;
	}
	/* Personal info */
	.personal-info {
		margin-top:0;
		display:block;
		width:420px;
		background:none;
		border-top:1px solid /*mainColor*/#fdc750;
	}
	.personal-info li span {
		width:280px;
	}
	/*-------------------------------------------------------*/
		/* Menu */
	/*-------------------------------------------------------*/
	.tabs {
		padding-left:5px;
	}
	.menu {
		height:100px;
		background-color:#ededed;
		position:relative;
		width: 370px;
		padding-left: 50px;
		padding-right: 50px;
	}
	/*-------------------------------------------------------*/
		/* Resume */
	/*-------------------------------------------------------*/
	.skills-section {
		width:420px;
	}
	.skills li h4 {
		width:260px;
	}
	.timeline-section {
		width:420px;
		padding-right:60px;
	}
	/*-------------------------------------------------------*/
		/* Portfolio */
	/*-------------------------------------------------------*/
	#portfolio-list {
		width:450px;
	}
	#portfolio-list li {
		margin-right:40px;
	}
	/*-------------------------------------------------------*/
		/* Blog */
	/*-------------------------------------------------------*/
	.blog-content-wrapper {
		width: 430px;
	}
	.blog-entry img {
		width: 430px;
	}
	.blog-sidebar {
		width: 430px;
		margin-left:0px;
	}
    .comment .comment-meta,.comment .comment-body {
    	width: 350px;
	}
    .comment-child .comment-meta,.comment-child .comment-body {
    	width: 320px !important;
	}
	/*-------------------------------------------------------*/
		/* Contact */
	/*-------------------------------------------------------*/
	.contact-info {
		width:420px;
	}
	.contact-form {
		margin-top:20px;
		width:420px;
	}
	

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	#container {
		width:300px;
		margin-top:10px;
	}
	.extra-text {
		font-size:16px;
	}
	/*-------------------------------------------------------*/
		/* Top Section */
	/*-------------------------------------------------------*/
	/* Logo */
	#logo h2 {
		font-size:25px;
		font-weight:900;
		color: #444;
		line-height:30px;
	}
	#logo h4 {
		color:#666;
		line-height:15px;
	}
	.socialicons {
		display:none; !important
	}
	/*-------------------------------------------------------*/
		/* Profile Section */
	/*-------------------------------------------------------*/
	div.top {
		height:50px;
		margin-bottom:5px;
	}
	/* About */
	.about {
		width:280px;
		display:block;
		margin:10px 0 15px 10px;
	}
	.about .photo-inner {
		margin-left:40px;
		background:url(../images/photo-inner.png) no-repeat;
		width:192px;
		height:212px;
		padding:12px 0 0 20px;
	}
	.about h1 {
		line-height:38px;
		font-size:30px;
		text-align:center;
	}
	.about h3 {
		font-size:14px;
		line-height:14px;
		text-align:center;
	}
	.about p {
		text-align:center;
	}
	/* Personal info */
	.personal-info {
		margin-top:0;
		display:block;
		width:280px;
		background:none;
		border-top:1px solid /*mainColor*/#fdc750;
		margin-left:10px;
		min-height:220px;
		padding-left:0;
	}
	.personal-info li {
		font-size:13px;
	}
	.personal-info li span {
		width:200px;
	}
	/*-------------------------------------------------------*/
		/* Menu */
	/*-------------------------------------------------------*/
	.tabs {
		padding-left:0px;
	}

	.tabs li > a {
		width:75px;
		font-size:14px;

	}
	.tabs li.active {
		background-image: none !important;
	}
	.menu {
		height:100px;
		background-color:#ededed;
		position:relative;
		width: 200px;
		padding-left: 50px;
		padding-right: 50px;
	}
	/*-------------------------------------------------------*/
		/* Resume */
	/*-------------------------------------------------------*/
	#resume {
		padding:10px;
	}
	.timeline-section {
		width:280px;
		padding-right:60px;
	}
	.skills-section {
		width:280px;
	}
	.skills li h4 {
		width:120px;
	}
	/*-------------------------------------------------------*/
		/* Portfolio */
	/*-------------------------------------------------------*/
	#portfolio-list {
		width:280px;
	}
	#portfolio-list li {
		margin-left:40px;
	}
	/*-------------------------------------------------------*/
		/* Blog */
	/*-------------------------------------------------------*/
	.blog-content-wrapper {
		width: 260px;
	}
	.blog-entry img {
		width: 260px;
	}
	.blog-sidebar {
		width: 260px;
		margin-left:0px;
	}
    .comment .comment-meta{
    	width: 180px;
    	margin-top: 10px;
	}
    .comment .comment-meta p{
    	margin-left: 0px;
    	margin-top: 6px;
    	clear: both;
    	display: block;
	}
	.comment .comment-body {
    	width: 240px;
    	margin-left: 0;
	}


    .comment-child .comment-meta{
    	width: 160px !important;
    	margin-top: 10px;
	}
    .comment-child .comment-meta p{
    	margin-left: 0px;
    	margin-top: 6px;
    	clear: both;
    	display: block;
	}
	.comment-child .comment-body {
    	width: 220px !important;
    	margin-left: 0;
	}
	/*-------------------------------------------------------*/
		/* Contact */
	/*-------------------------------------------------------*/
	
	.contact-info {
		width:280px;
	}
	.contact-form {
		margin-top:20px;
		width:280px;
	}
	.contact-info, .contact-form {
		padding:0 10px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {

	.tabs li.active {
		background:url('../images/tab-hover@2x.png') no-repeat;
		background-size: 116px 114px;
	}

}
